    body{
        font-family: 'Roboto', sans-serif;
        position: relative;
    }
    body h4, body h1, body h3{
        font-family: 'Gelasio', serif;
    }
    img{
        object-fit: contain;
    }
    /*header*/
    header {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        }
        .navbar-collapse{
           
        }
        .navbar .navbar-brand{
            font-size: 24px;
            color: #FFFFFF;
        }
        .navbar-nav .nav-link {
            color: #FFFFFF;
            font-size: 18px;
        }
        .mx-auto .nav-item{
            margin-left: 27px;
        }  
        header .booking{
            min-width: 165px;
            max-width: 300px;
            height: 50px;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            background: #C9453B;
            border-radius: 5px;
            color: #FFFFFF;
            }  
   /*header*/

   /*section-1*/
    .section-1{
            padding-top: 212px;
            padding-bottom: 244px;
            background:   url(Rectangle31.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 100% 100%;
        }
    .section-1 h1{
        font-size: 65px;
        color: #FFFFFF;
        }
    .section-1 p{
        margin-top: 30px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;
        color: #FFFFFF;      
        opacity: 0.6; 
        }
    .btn.explore-more{
        margin-top: 40px;
        min-width: 187px;
        max-width: 300px;
        height: 59px;
        background: #C9453B;
        border-radius: 5px;
    }
   .btn:hover{
    color: #C9453B;
    background: #FFFFFF;
    }
    /*section-1*/


    /*section-2*/
    .section-2{
        width: 100%;
        padding-top: 140px;
        padding-bottom: 70px;
    }
    .section-2 h1{
    font-size: 43px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0em;
    }
    .section-2 p{
        padding-top: 20px;
        font-size: 18px;
        color: #000000;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        font-weight: 400;
        opacity: 0.6;
    }
    .section-2  .col-xl-4, .col-md-4, .col-sm-6, .col-12{
       padding-top: 50px;
    }
    .section-2  .card{
        border-radius: 10px;
        height: 100%;
    }
    .section-2 .card img{
        border-radius: 10px 10px 0px 0px;
        }
    .card-body{
     justify-content: center;
     align-items: center;
     text-align: center;
    }
    .card-body h3{
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
    }
    .card-body p{
        padding-top: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;
        color: #000000;
        opacity: 0.6;
    }
    .section-2 .card-middle{
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
    }
    /*section-2*/

    /*section-3*/
      .section-3{
          padding-top: 70px;
          padding-bottom: 70px;
      }
      .section-3 h1{
        font-family: Gelasio;
        font-style: normal;
        font-weight: 500;
        font-size: 43px;
        line-height: 60px;
        color: #000000;
      }
      .section-3 p{
        padding-top: 20px;
        padding-bottom: 60px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        color: #000000;
        opacity: 0.6;
      }
    /*slider*/
    .slider .tns-item{
        border: none;
    }
    .slider .tns-item .card-body{
     text-align: start;
    }
    .section-3 .tns-item .post-category{
    margin-top: 20px;
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    }
    .section-3 .tns-item .post-category-text{
        display: flex;
    }
    .section-3 .tns-item .card-body .p1{
    padding-top: 0;
    padding-bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    opacity: 0.6;
    margin-top: 8px;
    padding-right: 50px;
   }
   .section-3 .tns-item .card-body .p2{
    padding-top: 0;
    padding-bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin-top: 8px;
    opacity: 1;
   }
   .section-3 .tns-item .card-body .p3{
       text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
   }
   .section-3 .tns-item .card-body .p4{
    padding-top: 0;
    padding-bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;  
    margin-top: 0;
    opacity: 1;
   }
   .section-3 .tns-item .card-body .p5{
    padding-top: 0;
    margin-top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;  
   }
   .section-3 .tns-item  .post-category-text img{
        padding-right: 10px;
        margin-bottom: 7px;
    }
 #controls{
    width: calc(225px + (40px * 4));
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: -29px;
 }
 .tns-nav {
     text-align: center;
     max-width: fit-content;
     margin-left: auto;
     margin-right: auto;
 }
    .tns-nav  button{
        background:url('img/Rectangle 40.png') 0 0  no-repeat ;
        width: 75px;
        height: 5px;
        border: none;
    }
    .tns-nav .tns-nav-active{
        background:url('img/Rectangle 41.png') 0 0  no-repeat ;
        width: 75px;
        height: 5px;
        border: none;
    }
     .card-img-top{
        border-radius: 10px;
    }
    /*slider*/

    /*section-4*/
    .section-4{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .section-4 .title h1{
        font-family: Gelasio;
        font-style: normal;
        font-weight: 500;
        font-size: 43px;
        line-height: 60px;
        color: #000000; 
    }
    .section-4 .title p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
    opacity: 0.6;
    }
    .section-4 .single-place h3{
        padding-top: 30px;
        font-family: Gelasio;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #000000; 
    }
    .section-4 .single-place p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
    opacity: 0.6;
    }
    .section-4 .single-place .email{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;  
    color: #000000;
    opacity: 1;
    }
    .section-4 .places h3{
        font-family: Gelasio;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #000000; 
    }
    .section-4 .places p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
    opacity: 0.6;
    }
    .section-4 .places .email{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;  
        color: #000000;
        opacity: 1;
        }
    .section-4 .places-first h3{
        font-family: Gelasio;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #000000; 
    }
    .section-4 .places-first p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
    opacity: 0.6;
    }
    .section-4 .places-first .email{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;  
        color: #000000;
        opacity: 1;
        }
    .section-4 .row{
        padding-top: 55px;
    }
    .section-4 .row .col-12{
        padding-top: 0;
    }
    .section-4 .row .col-12 .single-place{
       text-align: center;
       padding-top: 0;
    }
    .section-4 .row .col-12 .single-place img{
        
    }
    .section-4 .row .col-xl-6 .places{
      display: flex;
      align-items: center;
    }
    .section-4 .row .col-xl-6 .places-first{
     display: flex;
     align-items: center;
    }
    .section-4 .places{
        padding-top: 30px;
    }
    .section-4 .places .text-content{
        padding-left: 30px;
    }
    .section-4 .places-first .text-content{
        padding-left: 30px;
    }
    /*section-4*/


    /*footer */
    footer{
        width: 100%;
        height: auto;
        background: rgba(38, 148, 153, 0.04);
    }
    footer .flexbox{
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 80px;
        margin-bottom: 0;
    }
    footer .flexbox .first-block{
        margin-top: 70px;
    }
    footer .flexbox .first-block p{
        margin-top: 40px;
        margin-bottom: 0px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;  
        letter-spacing: 0.06em; 
        color: #000000;     
    }
    footer .flexbox .first-block .mail{
        margin-top: 10px;
        text-decoration: none;
    }
    footer .flexbox .first-block .link-contacts{
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
    }
    footer .flexbox .first-block .link-contacts img{
        width: 20px;
        height: 20px;
    }
    footer .flexbox .second-block{
        margin-top: 70px;
    }
    footer .flexbox .second-block p {
        margin-top: 0;
        margin-bottom: 20px;
       
    }
    footer .flexbox .second-block p a{
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.06em;
        color: #000000;
        margin-top: 0;
        margin-bottom: 0;
    }
    footer .flexbox .third-block{
        margin-top: 70px;
    }
    footer .flexbox .third-block p {
        margin-top: 0;
        margin-bottom: 20px;
       
    }
    footer .flexbox .third-block p a{
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.06em;
        color: #000000;
        margin-top: 0;
        margin-bottom: 0;
    }
    footer .flexbox .fourth-block{
        margin-top: 70px; 
    }
  
    footer .flexbox .fourth-block h1{
        margin-top: 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.06em;
        color: #000000;    
    }
    footer .flexbox .fourth-block .form-block{
        display: flex;
    }
    footer .flexbox .fourth-block .form-block input{    
    margin-top: 42px;  
    width: 195px;
    height: 44px;
    opacity: 0.1;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding-left: 20px;
    }
    footer .flexbox .fourth-block input::-webkit-input-placeholder {    
    width: 44px;
    height: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color: #000000;
     }
    
    footer .flexbox .fourth-block button{
        margin-top: 42px;  
        margin-left: 35px;
        width: 103px;
        height: 44px;
        background: #C9453B;
        border-radius: 5px; 
        color: #FFFFFF;
    }
  
    /*footer */





    /*mobile devices*/
     @media (max-width:400px) {
        .slider .tns-item .card-body {
            text-align: center;
        }
     }
     @media (max-width:400px) {
        .slider .tns-item .card-body .post-category-text {
           max-width: 200px;
           margin-left: auto;
           margin-right: auto;
        }
     }
     @media (max-width:400px) {
        .slider .tns-item .card-body .post-category-text2 {
           max-width: 200px;
           margin-left: auto;
           margin-right: auto;
        }
     }
     @media (max-width:400px) {
        .slider .tns-item .card-body .p3 {
            max-width: 200px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
     }
     @media (max-width:400px) {
        .slider .tns-item .card-body .p1, .p2{
            text-align: center;
        }
     }
     @media (max-width:400px) {
        .slider .tns-item .card-body .p4{
            text-align: center;
        }
     }
     @media (max-width:400px) {
        .slider .tns-item .card-body .p5{
            text-align: center;
        }
     }
     @media (max-width: 1200px) {
        #controls{
            justify-content: center;
        }
     }
     @media (max-width: 1200px) {
        .single-place img{
           max-width: 400px;
        }
     }
     @media (max-width: 400px) {
        .single-place img{
           max-width: 300px;
        }
     }
     @media (max-width: 992px) {
        .section-4 .places-first{
            padding-top: 30px;
        }
     }
     @media (max-width: 576px) {
        .section-4 .row .col-xl-6 .places-first {
            display: block;
        }
     }
     @media (max-width: 576px) {
        .section-4 .row .col-xl-6 .places{
            display: block;
        }
     }
     @media (max-width: 576px) {
        .section-4 .places-first .text-content {
            padding-left: 0px;
            padding-top: 30px;
        }
     }
     @media (max-width: 576px) {
        .section-4 .places .text-content {
            padding-left: 0px;
            padding-top: 30px;
        }
     }
     @media (max-width:992px) {
         footer .flexbox{
             display: block;
             max-width: 300px;
             margin-left: auto;
             margin-right: auto;
             text-align: center;
         }
     }
     @media (max-width:992px) {
        footer .flexbox .first-block .link-contacts {
            justify-content: space-around;
        }
     }
    /*mobile devices*/
     
   